apiVersion: apps/v1
kind: Deployment
metadata:
  name: minikube-demo
spec:
  selector:
    matchLabels:
      app: minikube-demo
  replicas: 3
  template:
    metadata:
      labels:
        app: minikube-demo
    spec:
      containers:
        - name: minikube-demo
          image: io.github.mfvanek/minikube-demo:0.0.7
          imagePullPolicy: Never
          ports:
            - name: application
              containerPort: 8080
              protocol: TCP
            - name: actuator
              containerPort: 8090
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: actuator
            initialDelaySeconds: 1
            periodSeconds: 5
            timeoutSeconds: 4
            successThreshold: 1
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /readyz
              port: application
            initialDelaySeconds: 1
            periodSeconds: 5
            timeoutSeconds: 4
            successThreshold: 2
            failureThreshold: 6
          startupProbe:
            httpGet:
              path: /actuator/health/liveness
              port: actuator
            initialDelaySeconds: 20
            periodSeconds: 5
            timeoutSeconds: 4
            successThreshold: 1
            failureThreshold: 10
          resources:
            limits:
              cpu: 200m
              memory: 256Mi
            requests:
              cpu: 200m
              memory: 256Mi
